01a_single_gauge.cpg
01a_single_gauge.dbf
01a_single_gauge.prj
01a_single_gauge.shp
01a_single_gauge.shx
01b_multiple_gauge.cpg
01b_multiple_gauge.dbf
01b_multiple_gauge.prj
01b_multiple_gauge.shp
01b_multiple_gauge.shx
01b_CAMEL_AUS_gauge.cpg
01b_CAMEL_AUS_gauge.dbf
01b_CAMEL_AUS_gauge.prj
01b_CAMEL_AUS_gauge.shp
01b_CAMEL_AUS_gauge.shx
02a_changed_gauge_032cms.cpg
02a_changed_gauge_032cms.dbf
02a_changed_gauge_032cms.prj
02a_changed_gauge_032cms.shp
02a_changed_gauge_032cms.shx
02a_intermittent_gauge_032cms.cpg
02a_intermittent_gauge_032cms.dbf
02a_intermittent_gauge_032cms.prj
02a_intermittent_gauge_032cms.shp
02a_intermittent_gauge_032cms.shx
02a_perennial_gauge_032cms.cpg
02a_perennial_gauge_032cms.dbf
02a_perennial_gauge_032cms.prj
02a_perennial_gauge_032cms.shp
02a_perennial_gauge_032cms.shx
02a_perennial_gauge_0cms.cpg
02a_perennial_gauge_0cms.dbf
02a_perennial_gauge_0cms.prj
02a_perennial_gauge_0cms.shp
02a_perennial_gauge_0cms.shx
